
#centered_block {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    margin: 0;
    /*background: radial-gradient(circle, #65F9FC 10%, #010518 70%);*/
}

h1 {
    color: #007BA7;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.menuDiv {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

ol {
    text-decoration: none;
    text-align: center;
}

li {
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
}

#app {
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
}

#classroom {
    background-color: #010518;
}

#classroom:hover {
    background-color: #65F9FC;
}

#exploreButton {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #010518;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#exploreButton:hover {
    color: #010518;
    background-color: #65F9FC;
}

form {
    max-width: 300px;
    margin: 0;
}
input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #010518;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #65F9FC;
}

#screen-overlay {
    transition: opacity 0.3s ease;
    opacity: 0;
}

#screen-overlay[style*="block"] {
    opacity: 1;
}
